
# Ignore everything
/*
**/.DS_Store
**/.env
**/*.localz
**/*.local
**/*.git
**/*.DS_Store

# But not these files...
!.gitignore
!.zshrc
!.p10k.zsh
!.juniorsaldanha.zsh
!install-terminal.sh
!alfred_theme.alfredappearance
